@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* MAIN STYLE */

* {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}


/* FONT STYLES */

h1 {
    font-family: 'Lobster', cursive;
    color: #6355a3;
    font-size: 3rem;
}

h3 {
    color:#366abb;
    margin-top: 25px;
}

h4 {
    color: #F84E95;
    margin-top: 10px;
}

/* MENU */

.menu {
    display: flex;
    position: absolute;
    top: 35px;
    right: 0;
    width: 100%;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    padding: 0 15px;
    list-style: none;
}

a {
    color: #366abb;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    color: #f4a7c6;
}

span {
    font-weight: 700;
    color: #F84E95;
}

span:hover {
    color: #f4a7c6;
}

/*HEADER STYLES */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.header_h2 {
    display: flex;
    justify-content: center;
    color: #efeef5;
    padding: 60px 0 30px 0;
    font-size: 48px;
}

.main_image {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.header_image {
    width: 50%;
}

/* HEADER BUTTONS */

.header_buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 200px;
}

.add_btn {
    padding: 20px 20px;
    border: none;
    border-radius: 3px;
    margin: 25px;
    background-color: #366abb;
}

.add_a {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
}

.add_a:hover {
    color: #f4a7c6;
}

/* ONLINE USERS */

#online {
    width: 100%;
    min-height: 100vh;
    background-color: #366abb;
}

.header_users {
    display: flex;
    flex-direction: column;
    padding-top: 35px;
}

.active_users {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 60%;
    margin-top: 15px;
    margin-bottom: 65px;
}

.user {
    display: flex;
    flex-direction: column;
    padding: 45px;
    margin: 20px;
    background-color: #efeef5;
    border-radius: 12px;
    width: 250px;
}

.user:hover {
    opacity: 0.7;
}

.avatar_img {
    display: flex;
    width: 120px;
}

/* ABOUT STYLES */

#container {
    background-color: #fff;
    width: 100%;
    height: 100vh;
}

.container_content {
    display: flex;
    align-items: center;
    width: 80%;
    margin-top: 5%;
}

.container_h2 {
    color: #F84E95;
    font-size: 3rem;
    padding-top: 7%;
}

.container_text {
    word-spacing: 11px;
    color: #366abb;
    width: 40%;
}

.dating_img {
    width: 40%;
}

/* FOOTER */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    margin: 5px auto;
}

footer a {
    font-size: 2rem;
    padding: 10px;
    text-decoration: none;
}
footer a:hover {
    font-size: 2.5rem;
}

.fa-brands {
    color: #366abb;
}

/* Slideshow container */
.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
  }
   
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }

