@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    box-sizing: border-box;
    margin: 10px auto;
}

body {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    background-color:#366abb;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}


.header_users {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 300px;
    margin-bottom: 170px;
}

.header_h2 {
    display: flex;
    justify-content: center;
    color: #fff;
}

.active_users {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: right;
}

.nav_menu {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
}


.logo {
    display: flex;
    position: absolute;
    left: -20px;
    top: -50px;
    width: 20%;
}

ul {
    display: flex;
    flex-direction: row;
    margin-left: 700px;
}

li {
    padding: 0 15px;
    list-style: none;
}

a {
    color: #F3438A;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    color: #f7bad2;
}

span {
    font-weight: 700;
    text-decoration: underline ;
}

.user {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: #efeef5;
    border-radius: 12px;
}

.user:hover {
    opacity: 0.7;
}

.avatar_img {
    display: flex;
    width: 120px;
}

h1 {
    font-family: 'Lobster', cursive;
    color: #6355a3;
    font-size: 3rem;
}

.header_buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 200px;
}

.container {
    background-color: #fff;
    width: 100%;
    height: 100vh;
}

.container_content {
    display: flex;
    align-items: center;
    width: 80%;
    margin-top: 5%;
}

.container_h2 {
    color: #6355a3;
    font-size: 3rem;
    padding-top: 7%;
}

.container_text {
    word-spacing: 11px;
    color: #6355a3;
    width: 40%;
}

.dating_img {
    width: 40%;
}

h3 {
    color:#366abb;
}

h4 {
    color: #F3438A;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    margin: 5px auto;
}

footer a {
    font-size: 2rem;
    padding: 10px;
    text-decoration: none;
}
footer a:hover {
    font-size: 2.5rem;
}

.add_btn {
    padding: 10px 10px;
    border-radius: 10px;
    border: #f1669d 1px solid;
    margin: 25px;
    background-color: #F3438A;
}

.add_a {
    font-size: 12px;
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
}

.add_a:hover {
    color: #6355a3;
}

.fa-brands {
    color: #fff;
}

